.box {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: inline-block;
  background-color: #6c757d;
  line-height: 80px;
}

.board {
  padding: 25px;
  width: 300px;
  display: inline-flex;
  flex-wrap: wrap;
}
